 @import url('zakladka.html');
#container {
    display: flex;
    flex-direction: column;
    height: 1001px;
    width: 900px;
    margin: auto;
}

nav {
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

nav a {
    color: #333;
    text-decoration: none;
}

#content {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
button {
    padding: 20px 0px;
    width: 33.3%;
    text-align: center;
    border-radius: 0px;
    border: 1px solid #ebebeb;
    cursor: pointer;
    background-color: var (--primary blue);
    color: black;
    margin: 3px;
    transition: all 200ms ease-in-out;
  }
button:hover {
    background-color: #47baef;
  }
button:hover,
select:hover,
button:hover {
    transform: scale(1.2);
  }

#tlo {
    background-color: rgba(124, 124, 124, 0.07);
    margin-top: -10px;
    margin-left: 600px;
    width: 800px;
    height: 85px;
    .center {text-align: center;
  }}
      label {
        color: #000;
      }

      input[type="checkbox"],
      select {
        background-color: gray;
        color: #000;
        border: 2px solid #47baef;
        padding: -100px;
        margin-bottom: 5px;
        border-radius: 10px;
        transition: transform 0.3s ease-in-out;
      }

      input[type="number"],
      select {
        background-color: #ffffff;
        color: #000;
        border: 2px solid #47baef;
        padding: 15px;
        margin-bottom: 20px;
        border-radius: 10px;
        margin-left: 50px;
        text-align: left;
        transition: transform 0.3s ease-in-out;
      }

      input[type="checkbox"]:hover,
      select:hover,
      input[type="number"]:hover {
        transform: scale(1.1);
      }

      input[type="checkbox"][name="colors"] {
        width: 20px;
        height: 20px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: #ffffff;
        border: 1px solid #47baef;
        border-radius: 5px; /* Zaokrąglenie rogów */
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
      }

      /* Stylowanie dla zaznaczonych checkboxów */
      input[type="checkbox"][name="colors"]:checked {
        background-color: #47baef;
        border-color: #47baef;
      }
      label {
        color: #000;
      }

      input[type="number"],
      select {
        background-color: #ffffff;
        color: #000;
        border: 2px solid #47baef;
        padding: 15px;
        margin-bottom: 20px;
        border-radius: 10px;
        margin-left: 50px;
        text-align: left;
        transition: transform 0.3s ease-in-out;
      }

      #tlo {
        background-color: rgba(124, 124, 124, 0.07);
        border-radius: 25px;
      }
      label {
        color: #000;
      }

      input[type="checkbox"],
      select {
        background-color: #ffffff;
        color: #000;
        border: 2px solid #47baef;
        padding: 15px;
        margin-bottom: 5px;
        border-radius: 10px;
        transition: transform 0.3s ease-in-out;
      }

      input[type="number"],
      select {
        background-color: #ffffff;
        color: #000;
        border: 2px solid #47baef;
        padding: 15px;
        margin-bottom: 20px;
        border-radius: 10px;
        margin-left: 50px;
        text-align: left;
        transition: transform 0.3s ease-in-out;
      }

      input[type="checkbox"]:hover,
      select:hover,
      input[type="number"]:hover {
        transform: scale(1.1);
      }

      input[type="checkbox"][name="colors"] {
        width: 20px;
        height: 20px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: #ffffff;
        border: 1px solid #47baef;
        border-radius: 5px; /* Zaokrąglenie rogów */
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
      }

      /* Stylowanie dla zaznaczonych checkboxów */
      input[type="checkbox"][name="colors"]:checked {
        background-color: #47baef;
        border-color: #47baef;
      }

      #tlo {
        background-color: rgba(124, 124, 124, 0.07);
        border-radius: 25px;
      }